<div class="m-content h-dataPage">
  <div class="row">
    <div class="col-lg-5">
      <h-tree #treeRef
              [data]="serviceData"
              idColumn="serviceID"
              labelColumn="descriptionAR"
              labelEnglishColumn="descriptionEN"
              parentIdColumn="parentID"
              codeSortOrder="levelSerial"
              selectionMode="single"
              [isDescOrder]="false"
              [(selection)]="selectedNode"
              (onNodeSelect)="onSelectNode($event)"
              (onRefresh)="refreshTree()"
              name="services"></h-tree>
    </div>
    <div class="col-lg-7">
      <h-form #formEl>
        <div class="row">
          <div class="col-lg-5">
            <h-label>
              {{'PTM_SERVICE_NUMBER' | translate }}
            </h-label>
            <h-textBox [(value)]="serviceNode.serviceNumber" [disabled]="pageMode==0 || pageMode==2|| (pageMode==1 && autoServiceNo==true)" [required]="autoServiceNo == false"></h-textBox>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <h-label>
              {{'PTM_SERVICE_DESCRIPTION_ARABIC' | translate}}
            </h-label>
            <h-textBox [(value)]="serviceNode.descriptionAR" [required]="true" dataType="arabicText" [disabled]="pageMode==0"></h-textBox>
          </div>
          <div class="col-lg-5">
            <h-label>
              {{'PTM_SERVICE_DESCRIPTION_ENGLISH' | translate}}
            </h-label>
            <h-textBox [(value)]="serviceNode.descriptionEN" [required]="true" dataType="englishText" [disabled]="pageMode==0"></h-textBox>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <h-label>
              {{'PTM_CATEGORY_TO_WHICH_IT_BELONGS' | translate }}
            </h-label>
            <h-textBox [(value)]="this.t.isAr ? serviceNode.parentDescriptionAR : serviceNode.parentDescriptionEN" [disabled]="true"></h-textBox>
          </div>
          <div class="col-lg-5">
            <h-label>
              {{'PTM_IT_HAS_SUBCATEGORIES' | translate }}
            </h-label>
            <h-switch name="swtHasChild"
                      onText="SHD_YES"
                      offText="SHD_NO"
                      [(checked)]="serviceNode.hasChild"
                      [disabled]="pageMode==0"></h-switch>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-5" *ngIf="isLinkedFGL">
            <h-label>
              {{'PTM_ACCOUNT_NO_ASSOCIATED_FINANCIAL_SYSTEM' | translate}}
            </h-label>
            <h-lookup lookupType="Accounts"
                      [showSearchButton]="false"
                      [showDTSearch]="true"
                      [showCode]="true"
                      [searchParams]="{'organizationID':global.getCurrentLegalEntityInfo().orgUnitID, 'isUnified':true, 'isGroup':false}"
                      [selectionMode]="'single'"
                      [(selectedIDs)]="accountIDs"
                      (onClear)="onClearAccount()"
                      (onChange)="onSelectAccount($event)"
                      [disabled]="pageMode==0"
                      [required]="isLinkedFGL"
                      name="lkpAccounts">
            </h-lookup>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <h-label>
              {{'PTM_SERVICE_PRICE' | translate}}
            </h-label>
            <h-spinner [(value)]="serviceNode.price" type="real" min="0" [disabled]="pageMode==0"></h-spinner>
          </div>
          <div class="col-lg-5">
            <h-label>
              {{'PTM_LOWEST_PRICE_SERVICE' | translate}}
            </h-label>
            <h-spinner [(value)]="serviceNode.minPrice" type="real" min="0" [disabled]="pageMode==0"></h-spinner>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <h-label>
              {{'PTM_DEFAULT_SERVICE' | translate}}
            </h-label><br />
            <h-checkBox name="isDefault" [(checked)]="serviceNode.isDefault" [disabled]="pageMode==0"></h-checkBox>
          </div>
          <div class="col-lg-5">
            <h-label>
              {{'PTM_SUSPENDED' | translate}}
            </h-label>
            <h-switch name="swtSuspended"
                      onText="SHD_YES"
                      offText="SHD_NO"
                      [(checked)]="serviceNode.isSuspended"
                      [disabled]="pageMode==0"></h-switch>
          </div>
        </div>



      </h-form>
    </div>
  </div>


</div>
