<div class="m-content h-dataPage">
  <div class="col-12 mx-auto">
    <div class="col-lg-4 mx-auto m--margin-bottom-20">
      <h-label>{{ 'PTM_TRANSACTION_NAME'| translate}}</h-label>
      <h-productConstant productConstantType="282"
                         controlType="dropDownList"
                         name="productconstantType"
                         [(selectedValue)]="newObj.screenCode"
                         (onChange)="screenCodeChanged($event)">
      </h-productConstant>
    </div>
  </div>
  <div class="col-12">
    <h-dataTable [(data)]="permitionsData" #permitionsDT
                 [columns]="permitionsColumn"
                 [editable]="true"
                 [showAdd]="newObj.screenCode!=null"
                 [isActiveSwitch]="true"
                 [showRowNumber]="true"
                 [editDisable]="eventDisable"
                 [addDisable]="eventDisable"
                 [addData]="eventData"
                 (onAddCell)="cellEvents($event,'add')"
                 (onEditCell)="cellEvents($event,'edit')"
                 (onSaveAddRow)="onSaveAddRow($event)"
                 (onSaveEditRow)="onSaveEditRow($event)"
                 (ondDeleteRow)="ondDeleteRow($event)"
                 (onEditClick)="onEditClick($event)"
                 (onAddClick)="onAddClick()"
                 (onCancelEditRow)="onCancelEditRow($event)"
                 showCompositeHeader="true"
                 name="tblPermitions">
    </h-dataTable>
  </div>
</div>
