<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_HasibERP6.0_Test_Connection" connectionString="XpoProvider=MSSqlServer;data source=DEV-DATABASE01\SQL2017;user id=;password=;initial catalog=HasibERP6.0_Test;Persist Security Info=true" />
    </connectionStrings>
</configuration>